@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --background-hero-footer: #1F2937;
    --txt-colour-main-header: #F9FAF8;
    --hero-sec-quote-colour: #E5E7EB;
    --button-colour: #3882F6;
}
body{
    height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

#hero {
    width: 100%;
    padding: 10px;
    background-color: var(--background-hero-footer);
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
}

.logo {
    font-size: 24px;
    color: var(--txt-colour-main-header);
}
.header-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.header-links > li > a {
    text-decoration: none;
    font-size: 18px;
    color: var(--hero-sec-quote-colour);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
    padding-right: 15%;
    color: var(--hero-sec-quote-colour);
    font-size: 18px;
}

.main-bold {
    font-size: 48px;
    font-weight: bolder;
}

button {
    border: none;
    border-radius: 8px;
    background: var(--button-colour);
    padding: 6px 20px;
    font-size: 15px;
    color: var(--hero-sec-quote-colour);
    font-weight: bold;
  }