@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --background-hero-footer: #1F2937;
    --txt-colour-main-header: #F9FAF8;
    --hero-sec-quote-colour: #E5E7EB;
    --button-colour: #3882F6;
    --box-background: #6d747d;
}
body{
    height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

#hero {
    width: 100%;
    padding: 10px;
    background-color: var(--background-hero-footer);
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--txt-colour-main-header);
}
.header-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.header-links > li > a {
    text-decoration: none;
    font-size: 18px;
    color: var(--hero-sec-quote-colour);
}

.main {
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    color: var(--hero-sec-quote-colour);
    font-size: 18px;
    padding-top: 10%;
    gap: 3%;
}

.main-bold {
    font-size: 48px;
    font-weight: bolder;
}

button {
    border: none;
    border-radius: 8px;
    background: var(--button-colour);
    padding: 6px 20px;
    font-size: 15px;
    color: var(--hero-sec-quote-colour);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 100%;
    height: 220px;
    background-color: var(--box-background);
    display: flex;
    align-items: center;
    justify-content: center;
}


.main > .content > p {
    margin: 0px;
}

.content {
    display: flex;
    flex-direction: column;
}
.button-main {
    padding-top: 10px;
}

.box > a {
    text-decoration: none;
    color: var(--hero-sec-quote-colour);
}

#info-container {
    text-align: center;
    padding-left: 50%;
    padding-right: 50%;
    padding-bottom: 10%;
}
.info-header {
    font-weight: bolder;
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: var(--background-hero-footer);
}
.info-content {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card > .info-box {
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    border: 5px solid var(--button-colour);
    border-radius: 10px;
}

#quote-container {
    padding: 10% 20%;
    background-color: var(--hero-sec-quote-colour);
}

.quote-box {
    font-size: 36px;
    color: var(--background-hero-footer);
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

